<!DOCTYPE html>
<html>
<title>Correct!</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.mySlides {display:none;}
</style>

<style>
div1 {

  margin: 25px 80px 150px 450px;

}


</style>


<style>
div2 {

  margin: 25px 100px 150px 100px;

}
</style>



<style>
div3 {

  margin: 25px 100px 150px 100px;

}
</style>
<body>

<h2 class="w3-center">Question about COVID-19 virus</h2>


<div class="w3-container">



  <div class="w3-panel w3-card"><p>Great job!</p></div>
 <div class="w3-panel w3-card"><p>explaination :88</p></div>
</div>



</body>
</html>